<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form Addon</title>

    <div th:replace="fragments::index"></div>

</head>
<body>
<!-- /MAIN HEADER -->
<div class="container" th:fragment="addon(formLabel, buttonLabel)">
    <div class="col-md-2"></div>

    <div class="col-md-8">

        <h3 class="text-center" th:text="${formLabel}">Create Addon Form</h3>

        <form action="#" class="form-horizontal" enctype="multipart/form-data" method="post"
              th:action="@{__${#httpServletRequest.requestURI}__}"
              th:object="${addon}">

            <div class="col-md-8">
                <label class="control-label" for="name">Name</label>
                <input class="input-register" id="name" name="name" placeholder="Addon name" th:field="*{name}"
                       type="text">
                <h6 style="color: red" th:errors="*{name}">Username error</h6>
            </div>

            <div class="col-md-4">
                <label class="control-label">TargetIde</label>
                <select class="input-register" th:field="*{targetIde}">
                    <option th:each="targetIde : ${allTargetIde}"
                            th:text="${targetIde.getName()}"
                            th:value="${targetIde.getId()}"
                    ></option>
                </select>
            </div>


            <div class="col-md-12">

                <label class="control-label" for="description">Description</label>
                <textarea class="input-register" cols="40" id="description" name="description"
                          placeholder="Addon Description"
                          rows="5"
                          style="height: 100px" th:field="*{description}">
                </textarea>
                <h6 style="color: red" th:errors="*{description}">Username error</h6>
            </div>

            <div class="col-md-12">
                <label class="control-label" for="originUrl">Github repository</label>
                <input class="input-register" id="originUrl" name="originUrl" placeholder="Addon repo url"
                       th:field="*{originUrl}"
                       type="text">
                <h6 style="color: red" th:errors="*{originUrl}">Username error</h6>
            </div>

            <div class="col-md-12">
                <label class="control-label" for="multipartFile">Binary content</label>
                <input id="multipartFile" placeholder="" th:field="*{binaryFile}" type="file">
                <h6 style="color: red" th:errors="*{binaryFile}">Username error</h6>
            </div>

            <div class="col-md-12">
                <label class="control-label">Tags:</label>
                <br>
                <h6 style="color: red" th:errors="*{tags}">Username error</h6>

                <div class="col-md-3" th:each="tag : ${allTag}">
                    <input name="tag" th:field="*{tags}"
                           th:id="${tag.getId()}"
                           th:value="${tag.getId()}"
                           type="checkbox">
                    <label th:for="${tag.getId()}" th:text="' '+${tag.getName()+' '}">Scales</label>
                </div>

            </div>


            <div class="col-md-12 text-center">
                <br>
                <button class="primary-btn order-submit" style="width: 50%;" th:text="${buttonLabel}">Create Addon
                </button>
            </div>
        </form>
    </div>
    <div class="col-md-2"></div>
</div>
</body>
</html>